In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("file_list.csv")
total_data = list(df.columns)
video_data = [d for d in total_data if "mp4" in d]
audio_data = [d for d in total_data if "wav" in d][1:]

# Video Analysis

In [14]:
def process_video_data(data):
    dir_split = data.split("/")
    subject1 = dir_split[-2]
    video_split = dir_split[-1].split("-")
    video_name = video_split[0]
    model_name = video_split[1] + "_" + video_split[2]
    bledning_name = video_split[3]
    subject2 = video_split[5].split(".")[0]
    return subject1, subject2, video_name, model_name, bledning_name

In [33]:
data_processed = [
    {
        "subject1": subject1, 
        "subject2": subject2, 
        "video_key": video_name, 
        "model_name": model_name, 
        "bledning_name": bledning_name
    }
    for subject1, subject2, video_name, model_name, bledning_name in map(process_video_data, video_data)
]

# Create DataFrame from the processed data
video_df = pd.DataFrame(data_processed, columns=["subject1", "subject2", "video_key", "model_name", "bledning_name"])

In [67]:
audio_df.groupby(["audio_key","subject2"]).count()

                              subject1  audio_model  subject_pair
audio_key           subject2
4_00001_m_01_01_p_2 00006           12           12            12
4_00001_m_01_01_t_2 00006           12           12            12
4_00001_m_01_02_p_2 00006           12           12            12
4_00001_m_01_02_t_2 00006           12           12            12
4_00001_m_01_03_p_2 00006           12           12            12
...                                ...          ...           ...
4_00060_f_01_06_t_2 00022            5            5             5
4_00060_f_01_07_p_2 00022            5            5             5
4_00060_f_01_07_t_2 00022            5            5             5
4_00060_f_01_08_p_2 00022            5            5             5
4_00060_f_01_08_t_2 00022            5            5             5

[960 rows x 3 columns]

In [63]:
video_df.head()

,subject1,subject2,video_key,model_name,bledning_name,subject_pair
0,00026,00024,4_00026_m_01_06_t_2,model_160d_train_maskmkl,blending_m1s4,00026_00024
1,00026,00024,4_00026_m_01_08_t_2,model_160d_train_masknocolor,blending_m1s4,00026_00024
2,00026,00024,4_00026_m_01_02_p_2,model_160d_train_nomasknocolor,blending_m1o0,00026_00024
3,00026,00024,4_00026_m_01_04_p_2,model_160d_train_masknocolor,blending_m2s4,00026_00024
4,00026,00024,4_00026_m_01_03_p_2,model_160d_train_masknocolor,blending_m4o4e15b150r7,00026_00024

In [64]:
audio_df.head()

,subject1,subject2,audio_key,audio_model,subject_pair
0,00026,00024,4_00026_m_01_02_t_2,freevc-pretrained-notuning,00026_00024
1,00026,00024,4_00026_m_01_07_p_2,freevc-smodel-notuning,00026_00024
2,00026,00024,4_00026_m_01_08_p_2,freevc-fromscratch-trained109k,00026_00024
3,00026,00024,4_00026_m_01_07_p_2,freevc-pretrained-tuned109k,00026_00024
4,00026,00024,4_00026_m_01_01_p_2,freevc-24hz-notuning,00026_00024

# Audio Analysis

In [22]:
data = audio_data[0]

In [29]:
    dir_split = data.split("/")
    dir_split
    subject1 = dir_split[-2]
    audio_split = dir_split[-1].split("-")
    audio_name = audio_split[0]
    audio_model = audio_split[1] + "-" + audio_split[2] + "-" + audio_split[3]

    subject2 = audio_split[-1].split(".")[0]
    print(subject1, subject2, audio_name, audio_model)

00026 00024 4_00026_m_01_02_t_2 freevc-pretrained-notuning

In [30]:
def process_audio_data(data):
    dir_split = data.split("/")
    dir_split
    subject1 = dir_split[-2]
    audio_split = dir_split[-1].split("-")
    audio_name = audio_split[0]
    audio_model = audio_split[1] + "-" + audio_split[2] + "-" + audio_split[3]

    subject2 = audio_split[-1].split(".")[0]
    return subject1, subject2, audio_name, audio_model

In [35]:
audio_data_processed = [
    {
        "subject1": subject1, 
        "subject2": subject2, 
        "audio_key": audio_name, 
        "audio_model": audio_model
    }
    for subject1, subject2, audio_name, audio_model in map(process_audio_data, audio_data)
]
audio_df = pd.DataFrame(audio_data_processed, columns=["subject1", "subject2", "audio_key", "audio_model"])

In [57]:
# unique subject1 and subject2 pair
audio_df['subject_pair'] = audio_df['subject1'] + '_' + audio_df['subject2']

# Get unique values from the new column
unique_subject_pairs = audio_df['subject_pair'].unique()
video_df['subject_pair'] = video_df['subject1'] + '_' + video_df['subject2']
unique_subject_pairs_video = video_df['subject_pair'].unique()

60

In [52]:
group1 = ['00001_00006', '00006_00001', '00003_00039', '00039_00003', '00003_00034', '00034_00003', '00034_00030', '00030_00034', '00017_00020','00020_00017' ]
group2 = ['00026_00024' ,'00035_00016', '00004_00002', '00004_00014', '00021_00022',
 '00036_00042' ,'00018_00050' ,'00051_00052', '00055_00048',
 '00002_00015' ,'00002_00004', '00027_00031' ,'00027_00011' ,'00010_00047',
 '00005_00016', '00042_00036' ,'00022_00060' ,'00022_00021',
 '00028_00025' ,'00052_00051', '00052_00054' ,'00049_00040' ,'00031_00027',
 '00012_00013'  , '00024_00026', '00058_00043',
 '00040_00049' ,'00040_00033'  ,
 '00032_00033' ,'00029_00013' ,'00029_00047' ,'00060_00022' ,
 '00047_00029' ,'00047_00010' ,'00054_00052' ,'00015_00002' ,'00048_00019',
 '00048_00055' ,'00033_00032' ,'00033_00040'  ,'00043_00058',
 '00016_00035' ,'00016_00005' ,'00050_00018' ,'00025_00028' ,'00019_00048',
 '00011_00027'  ,'00013_00012' ,'00013_00029' ,'00014_00004']

In [56]:
group2_key = set()
group1_key = set()
for pair in group1:
    sub1, sub2 = pair.split("_")
    group1_key.add(sub1)
    group1_key.add(sub2)

for pair in group2:
    sub1, sub2 = pair.split("_")
    group2_key.add(sub1)
    group2_key.add(sub2)

# check if there is any overlap between group1 and group2
group1_key.intersection(group2_key)

set()

In [27]:
df = pd.read_csv("test.csv")

In [28]:
df.head()

,Unnamed: 0,video_model,blending_name,audio_model,pair,group,video_dir,audio_dir,target
0,0,160d_train_maskmkl,m1s4,freevc-pretrained-tuned70k,00026_00024,drop,/storage/neil/SWAN-DF/SWAN-DF/160x160/00026/4_...,/storage/neil/SWAN-DF/SWAN-DF/wav/00026/4_0002...,1
1,1,160d_train_maskmkl,m1s4,freevc-smodel-notuning,00026_00024,drop,/storage/neil/SWAN-DF/SWAN-DF/160x160/00026/4_...,/storage/neil/SWAN-DF/SWAN-DF/wav/00026/4_0002...,1
2,2,160d_train_maskmkl,m1s4,freevc-pretrained-notuning,00026_00024,drop,/storage/neil/SWAN-DF/SWAN-DF/160x160/00026/4_...,/storage/neil/SWAN-DF/SWAN-DF/wav/00026/4_0002...,1
3,3,160d_train_maskmkl,m1s4,yourtts-pretrained-notuning,00026_00024,drop,/storage/neil/SWAN-DF/SWAN-DF/160x160/00026/4_...,/storage/neil/SWAN-DF/SWAN-DF/wav/00026/4_0002...,1
4,4,160d_train_maskmkl,m1s4,diffvc-pretrained-notuning,00026_00024,drop,/storage/neil/SWAN-DF/SWAN-DF/160x160/00026/4_...,/storage/neil/SWAN-DF/SWAN-DF/wav/00026/4_0002...,1